# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# env file
.env

# Vim files
*.sw[mnop]

# Data Files
*.zip
*.tar.gz

# .pyenv files
.python-version

# pytest files
.pytest_cache/

# Jupyter files
*.ipynb_checkpoints

# Python build files
build/

# Rope Files
.ropeproject/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Data for confirmation
generate_dist_s1_table/tmp/
generate_dist_s1_table/unconfirmed_products/
from pathlib import Path

generate_dist_s1_table/confirmed_products/

# DIST-ALERT files
mapLabels2024

## Papermill nbs
generate_dist_s1_table/out_nbs/
generate_dist_s1_table/validation_viz_data/
generate_dist_s1_table/dist_hls/